Q1.What are the two values of the Boolean data type? How do you write them?


Ans - the two values of the Boolean data types are TRUE and FALSE

Q2. What are the three different types of Boolean operators?

Ans - AND, OR, NOT

Q3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

Ans -       True and True is True.

            True and False is False.

            False and True is False.

            False and False is False.

            True or True is True.

            True or False is True.

            False or True is True.

            False or False is False.

            not True is False.

            not False is True.

Q4. What are the values of the following expressions?

In [4]:
(5 > 4) and (3 == 5)
not (5 > 4)

False

In [3]:
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))

False

In [5]:
(True and True) and (True == False)

False

In [6]:
(not False) or (not True)

True

Q5. What are the six comparison operators?


Ans-
        ==	Equal to

        !=	Not equal to
    
        <	Less than
        
        >	Greater than
        
        <=	Less than or equal to
        
        >=	Greater than or equal to

Q6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

In [9]:
 #here value 5 is assign or store into the a using single "="
a=5

In [10]:
a

5

In [8]:
#here we can check the value of a is equal to 5 or not by using "=="
a==5

True

In [11]:
a==9

False

Q7. Identify the three blocks in this code:
Ans - three blocks are two if condition and one else condition

In [29]:
spam = 5
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

Q8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [16]:
spam = int(input('Enter intger : '))
if spam ==1:
    print("Hello")
elif spam ==2:
    print("Howdy")
else:
    print("Greetings!")

Enter intger : 7
Greetings!

Q9.If your programme is stuck in an endless loop, what keys youâ€™ll press?


Ans-press CTRL + C

10. How can you tell the difference between break and continue?


Ans - break statement used to stop or terminate the loop immediately.
      and continue statement does not terminate loop but continues on with the next iteartion

In [18]:
x="Python"
for i in x:
    if i == "h":
        break
    print(i)

P
y
t

In [19]:
x="Python"
for i in x:
    if i == "h":
        continue
    print(i)

P
y
t
o
n

Q11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?


Ans- There is no difference between range(10), range(0, 10), and range(0, 10, 1) it will give number range from 0 to 9 as output data

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

Q12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [24]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
a = 1
while a<11:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

Q13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

from spam import bacon 

or 


from spam import *

bacon()