Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators

1.*       - Expression

2.'hello' - Value

3.-87.8   - Value

4.-       - Expression

5./       - Expression

6.+	    - Expression

7.6       - Value

Q2. What is the difference between string and variable?

Ans - String: It's a datatype avaliable in python.A string can be define by putting single quotes (‘ ’) or double quotes (“ “) around whatever you want to classify as a string. and variable : It's a reserved memory loction to store values or data. A variable can store a string but string can't store variable.

In [50]:
# Example of string 
Name = "Swarupa"

In [51]:
Name

'Swarupa'

In [5]:
# Example of Variable
data = 58.369
data_1 = "Hello"

In [6]:
data

58.369

In [7]:
type(data)

float

In [12]:
type(data_1)

str

Q3. Describe three different data types.

Ans - Mutable data types:- 1.List 2.Set 3.Dictionary 
    
    - Non mutable data types:- 1.Numbers 2.Tuple 3.String

In [14]:
# Example List - Lists are used to store multiple items in a single variable.
data = [12, "Hello", 6.2, 9+5j]

In [15]:
data

[12, 'Hello', 6.2, (9+5j)]

In [29]:
#example Dictionary - Dictionaries are used to store data values in key:value pairs.

dic = {"Fruits":["Apple","Orange"],
        "Animals":["Dog","Cat"]}

In [30]:
dic

{'Fruits': ['Apple', 'Orange'], 'Animals': ['Dog', 'Cat']}

In [31]:
# example Tuple - Tuples are used to store multiple items in a single variable.

Tu = ("One", "Two", "Three")

In [32]:
Tu

('One', 'Two', 'Three')

Q4. What is an expression made up of? What do all expressions do?

Ans - Expression is a combination of oprators and oprands which gives single value as output.
      Examples - 1. Arithmatic Oprators 2.Logical Oprators 3.Assignment Oprators

Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans - Expression gives single value statement does not.

Q6. After running the following code, what does the variable bacon contain?

In [33]:
Bcon=22

In [34]:
Bcon+1

23

Q7. What should the values of the following two terms be?

In [35]:
'spam' + 'spamspam'

'spamspamspam'

In [36]:
'spam' * 3

'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?

Ans -Variable names are permitted to contain letters, numbers, and underscores. A variable cannot start with a number but can start with a letter or an underscore that's why egg's valid variable name and not 100.

Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans - int(),float()and str() these functions are used to get values.

In [53]:
int(20)

20

In [54]:
float(5)

5.0

In [56]:
str(88)

'88'

Q10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Ans- The above experssion contains string data as well as integer data, here the concatenation take place only for string so we have to convert integer value into string

In [42]:
# converting int value 99 into string 
'I have eaten ' + str("99") + ' burritos.'

'I have eaten 99 burritos.'